.navel {
    width: 168px;
    height: 18px;
    text-align: right;
    font: normal normal normal 13px/20px Muli;
    letter-spacing: 0.5px;
    color: #1E202F;
    opacity: 1;
    font-weight: 800;
    padding: 1% 8% 4% 7%;

}

li:nth-child(3) a {
    position: absolute;
    left: 50%;
    top: -28.1%
}

/* li:nth-child(4) a {
    margin-left: 16%
} */

li:nth-child(4) a div {
    width: 132px;
    height: 42px;
    border: 1px solid #4099F1;
    opacity: 1;
    margin-left: 70%;
    margin-top: -7%;
    padding: 9% 31% 13% 9%;
    box-sizing: border-box;
   
}
li:nth-child(4) a div>p {
    width: 108px;
    height: 18px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal bold 14px/11px Muli;
    letter-spacing: 0px;
    color: #4099F1;
    opacity: 1;
    
   
}
.navfoot{
    position:absolute;top:200vh;height:142px;
}


.navopt {
    position: absolute;
    top: 29px;
    left: 706px;
    width: 469px;
    height: 42px;
    /* UI Properties */
    opacity: 1;
    display: flex;
    flex-flow: row;

}

.ul .li a {
    top: 41px;
    left: 799px;
    width: 133px;
    height: 18px;
    /* UI Properties */
    text-align: right;
    font: normal normal normal 14px/20px Muli;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #1E202F;
    opacity: 1;
    padding: 0px 15px;
}

.signbox {
    position: static;
    top: 29px;
    left: 1100px;
    width: 132px;
    height: 42px;
    /* UI Properties */
    border: 1px solid #4099F1;
    opacity: 1;
}

.signbox>p {
    top: 41px;
    left: 1055px;
    width: 108px;
    height: 18px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 14px/11px Muli;
    letter-spacing: 0px;
    color: #4099F1;
    font-weight: 700;
    opacity: 1;
}

.midcont {
    top: 100px;
    left: 0px;
    width: 1366px;
    height: 668px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;

}

.midcont2 {
    position: absolute;
    top: 318px;
    left: 191px;
    width: 480px;
    height: 356px;
    opacity: 1;
}

.midcont2>p {
    position: absolute;
    top: -19%;
    left: -3px;
    width: 480px;
    height: 272px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 64px/90px Merriweather;
    letter-spacing: 0.45px;
    color: #1E202F;
    opacity: 1;
}

.midcont .img2 {
    position: absolute;
    top: 163px;
    left: 683px;
    width: 636px;
    height: 542px;
    /* UI Properties */
    background: transparent url('assets/Illustration.svg') 0% 0% no-repeat padding-box;
    opacity: 2;
}

.midcont .lin {
    position: absolute;
    top: 475px;
    left: 593px;
    width: 364px;
    height: 236px;

}

.midcont .lin div {
    border: 1px solid #707070;
    opacity: 1;
    transform: skewY(-34deg);
    position: relative;
    top: 116px;
}

.lowcont {
    top: 767px;
    left: 0px;
    width: 1366px;
    height: 731px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.lowcont .blog {
    position: absolute;
    top: 831px;
    left: 191px;
    width: 400px;
    height: 74px;
    /* UI Properties */
    opacity: 1;
}

.blog .blog2 {
    top: 831px;
    left: 231px;
    width: 41px;
    height: 18px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 14px/26px Muli;
    letter-spacing: 1px;
    color: #4099F1;
    opacity: 1;
}

.blog .blog3 {
    top: 865px;
    left: 191px;
    width: 400px;
    height: 40px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 32px/42px Merriweather;
    letter-spacing: 0.5px;
    color: #1E202F;
    opacity: 1;
}

.bcfw1 {
    position: absolute;
    right: 0%;
    width: 43px;
    height: 19px;
    opacity: 1;
    padding: 0% 0% 0% 0%;
}

.bcfw1 div {
    border: 0.5px solid #4099F1;
}

.bcfw11 {
    position: absolute;
    top: 1.5%;
    right: 0%;
    width: 9px;
    height: 9px;
    opacity: 1;
}

.bcfw11 div {
    border: 0.5px solid #4099F1;
    transform: skewY(-38deg);
    position: relative;
    top: -5px;
}

.bcfw12 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 9px;
    height: 9px;
    opacity: 1;
}

.bcfw12 div {
    border: 0.5px solid #4099F1;
    transform: skewY(38deg);
    position: relative;
    top: -4px;

}

.img2 {
    /* position: absolute;
    top: 947px;
    left: 191px; */
    width: 100%;
    height: 487px;
    /* UI Properties */

    opacity: 1;

}

.img2card {

    width: 312px;
    height: 322px;
    /* UI Properties */
    background: transparent url('assets/Mask\ Group\ 1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.img2card1 {
    width: 54%;
    height: 18.1%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 2;
    padding: 2% 0% 0% 4%;
    position: relative;
    top: 82%
}

.img2card1pic {
    width: 32px;
    height: 32px;
    background: transparent url('assets/Ellipse\ 24.png') 0% 0% no-repeat padding-box;
    opacity: 1;

}


.img2card1name {
    text-align: left;
    font: normal normal 13px/21px Merriweather;
    letter-spacing: 0.25px;
    color: #1E202F;
    opacity: 1;
    padding-left: 13%;
    font-weight: 900;



}

.img2card1desc {
    text-align: left;
    font: normal normal 300 6px/7px Muli;
    letter-spacing: 0.25px;
    color: #B2B2B2;
    opacity: 1;
    margin-left: 13%;
    font-weight: bolder;
}



.img2card2 {
    width: 257px;
    height: 55px;
    font: normal normal 20px/30px Merriweather;
    letter-spacing: 0.42px;
    color: #1E202F;
    margin-top: 3.9%;
    font-weight: 900;
}

.img2card3 {

    width: 312px;
    height: 70px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 12px/23px Muli;
    letter-spacing: 0.24px;
    color: #888990;
    margin-top: 3.9%;
    font-weight: 800;
}

.imgmain {
    display: flex;
    flex-flow: row;
}

.logofoot {
    position: absolute;
    left: 191px;
    width: 148px;
    height: 58px;
    background: transparent url(assets/Logo.svg) 0% 0% no-repeat padding-box;


}

.foot1 {
    position: absolute;
    top: 17px;
    left: 387px;
    width: 143px;
    height: 20px;
    text-align: left;
    font: normal normal normal 16px/26px Muli;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #212B36;
    opacity: 1;
}

.but {
    position: absolute;
    top: 234px;
    left: 0px;
    width: 144px;
    height: 52px;
    background: #4099F1 0% 0% no-repeat padding-box;
    opacity: 1
}

.but>p {
    width: 72px;
    height: 18px;
    margin: 17px auto auto auto;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 14px/20px Muli;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}


@media screen and (max-width: 900px) {
    
    .navfoot{
        position:absolute;top:284vh;height:142px;
    }
    .foot1 {
        position: absolute;
        top: 17px;
        left: 383px;
        /* width: 181px; */
        height: 20px;
        text-align: left;
        font: normal normal normal bold 36px/39px Muli;
        letter-spacing: 0.5px;
        font-weight: 600;
        color: #212B36;
        opacity: 1;
    }
    
        .navel {
            width: 168px;
            height: 18px;
            text-align: right;
            font: normal normal normal 24px/31px Muli;
            letter-spacing: 0.5px;
            color: #1E202F;
            opacity: 1;
            font-weight: 800;
            padding: 1% 8% 4% 7%;
            margin-left: -35%;
            display: inline;
        }
        .chg{
            margin-left: 26em;
        }
        .bcfw1{
                display: none;
        }
        .bcfw11{
            display: none;
        }
        .bcfw12{
            display: none;
        }
        
    li:nth-child(4) a div>p {
        width: 108px;
        height: 18px;
        /* UI Properties */
        text-align: center;
        font: normal normal normal bold 14px/11px Muli;
        letter-spacing: 0px;
        color: #4099F1;
        opacity: 1;
        
       
    }
    
        li:nth-child(3) a {
            position: absolute;
            left: -24%;
            top: 86.9%;
        }
        li:nth-child(4) a div {
            width: 62%;
            /* height: 26px; */
            border: 1px solid #4099F1;
            opacity: 1;
            margin-left: -28%;
            margin-top: -3%;
            padding: 2% 23% 0% 2%;
            box-sizing: border-box;
        }
        .img2 {
            position: absolute;
            top: 178px;
            left: 683px;
            width: 636px;
            height: 542px;
            background: transparent url(assets/Illustration.svg) 0% 0% no-repeat padding-box;
            opacity: 2;
        }
    }.navel {
    width: 168px;
    height: 18px;
    text-align: right;
    font: normal normal normal 13px/20px Muli;
    letter-spacing: 0.5px;
    color: #1E202F;
    opacity: 1;
    font-weight: 800;
    padding: 1% 8% 4% 7%;

}

li:nth-child(3) a {
    position: absolute;
    left: 50%;
    top: -28.1%
}

/* li:nth-child(4) a {
    margin-left: 16%
} */

li:nth-child(4) a div {
    width: 132px;
    height: 42px;
    border: 1px solid #4099F1;
    opacity: 1;
    margin-left: 70%;
    margin-top: -7%;
    padding: 9% 31% 13% 9%;
    box-sizing: border-box;
   
}
li:nth-child(4) a div>p {
    width: 108px;
    height: 18px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal bold 14px/11px Muli;
    letter-spacing: 0px;
    color: #4099F1;
    opacity: 1;
    
   
}
.navfoot{
    position:absolute;top:200vh;height:142px;
}


.navopt {
    position: absolute;
    top: 29px;
    left: 706px;
    width: 469px;
    height: 42px;
    /* UI Properties */
    opacity: 1;
    display: flex;
    flex-flow: row;

}

.ul .li a {
    top: 41px;
    left: 799px;
    width: 133px;
    height: 18px;
    /* UI Properties */
    text-align: right;
    font: normal normal normal 14px/20px Muli;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #1E202F;
    opacity: 1;
    padding: 0px 15px;
}

.signbox {
    position: static;
    top: 29px;
    left: 1100px;
    width: 132px;
    height: 42px;
    /* UI Properties */
    border: 1px solid #4099F1;
    opacity: 1;
}

.signbox>p {
    top: 41px;
    left: 1055px;
    width: 108px;
    height: 18px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 14px/11px Muli;
    letter-spacing: 0px;
    color: #4099F1;
    font-weight: 700;
    opacity: 1;
}

.midcont {
    top: 100px;
    left: 0px;
    width: 1366px;
    height: 668px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;

}

.midcont2 {
    position: absolute;
    top: 318px;
    left: 191px;
    width: 480px;
    height: 356px;
    opacity: 1;
}

.midcont2>p {
    position: absolute;
    top: -19%;
    left: -3px;
    width: 480px;
    height: 272px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 64px/90px Merriweather;
    letter-spacing: 0.45px;
    color: #1E202F;
    opacity: 1;
}

.midcont .img2 {
    position: absolute;
    top: 163px;
    left: 683px;
    width: 636px;
    height: 542px;
    /* UI Properties */
    background: transparent url('assets/Illustration.svg') 0% 0% no-repeat padding-box;
    opacity: 2;
}

.midcont .lin {
    position: absolute;
    top: 475px;
    left: 593px;
    width: 364px;
    height: 236px;

}

.midcont .lin div {
    border: 1px solid #707070;
    opacity: 1;
    transform: skewY(-34deg);
    position: relative;
    top: 116px;
}

.lowcont {
    top: 767px;
    left: 0px;
    width: 1366px;
    height: 731px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.lowcont .blog {
    position: absolute;
    top: 831px;
    left: 191px;
    width: 400px;
    height: 74px;
    /* UI Properties */
    opacity: 1;
}

.blog .blog2 {
    top: 831px;
    left: 231px;
    width: 41px;
    height: 18px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 14px/26px Muli;
    letter-spacing: 1px;
    color: #4099F1;
    opacity: 1;
}

.blog .blog3 {
    top: 865px;
    left: 191px;
    width: 400px;
    height: 40px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 32px/42px Merriweather;
    letter-spacing: 0.5px;
    color: #1E202F;
    opacity: 1;
}

.bcfw1 {
    position: absolute;
    right: 0%;
    width: 43px;
    height: 19px;
    opacity: 1;
    padding: 0% 0% 0% 0%;
}

.bcfw1 div {
    border: 0.5px solid #4099F1;
}

.bcfw11 {
    position: absolute;
    top: 1.5%;
    right: 0%;
    width: 9px;
    height: 9px;
    opacity: 1;
}

.bcfw11 div {
    border: 0.5px solid #4099F1;
    transform: skewY(-38deg);
    position: relative;
    top: -5px;
}

.bcfw12 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 9px;
    height: 9px;
    opacity: 1;
}

.bcfw12 div {
    border: 0.5px solid #4099F1;
    transform: skewY(38deg);
    position: relative;
    top: -4px;

}

.img2 {
    /* position: absolute;
    top: 947px;
    left: 191px; */
    width: 100%;
    height: 487px;
    /* UI Properties */

    opacity: 1;

}

.img2card {

    width: 312px;
    height: 322px;
    /* UI Properties */
    background: transparent url('assets/Mask\ Group\ 1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.img2card1 {
    width: 54%;
    height: 18.1%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 2;
    padding: 2% 0% 0% 4%;
    position: relative;
    top: 82%
}

.img2card1pic {
    width: 32px;
    height: 32px;
    background: transparent url('assets/Ellipse\ 24.png') 0% 0% no-repeat padding-box;
    opacity: 1;

}


.img2card1name {
    text-align: left;
    font: normal normal 13px/21px Merriweather;
    letter-spacing: 0.25px;
    color: #1E202F;
    opacity: 1;
    padding-left: 13%;
    font-weight: 900;



}

.img2card1desc {
    text-align: left;
    font: normal normal 300 6px/7px Muli;
    letter-spacing: 0.25px;
    color: #B2B2B2;
    opacity: 1;
    margin-left: 13%;
    font-weight: bolder;
}



.img2card2 {
    width: 257px;
    height: 55px;
    font: normal normal 20px/30px Merriweather;
    letter-spacing: 0.42px;
    color: #1E202F;
    margin-top: 3.9%;
    font-weight: 900;
}

.img2card3 {

    width: 312px;
    height: 70px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 12px/23px Muli;
    letter-spacing: 0.24px;
    color: #888990;
    margin-top: 3.9%;
    font-weight: 800;
}

.imgmain {
    display: flex;
    flex-flow: row;
}

.logofoot {
    position: absolute;
    left: 191px;
    width: 148px;
    height: 58px;
    background: transparent url(assets/Logo.svg) 0% 0% no-repeat padding-box;


}

.foot1 {
    position: absolute;
    top: 17px;
    left: 387px;
    width: 143px;
    height: 20px;
    text-align: left;
    font: normal normal normal 16px/26px Muli;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #212B36;
    opacity: 1;
}

.but {
    position: absolute;
    top: 234px;
    left: 0px;
    width: 144px;
    height: 52px;
    background: #4099F1 0% 0% no-repeat padding-box;
    opacity: 1
}

.but>p {
    width: 72px;
    height: 18px;
    margin: 17px auto auto auto;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 14px/20px Muli;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}


@media screen and (max-width: 900px) {
    
    .navfoot{
        position:absolute;top:284vh;height:142px;
    }
    .foot1 {
        position: absolute;
        top: 17px;
        left: 383px;
        /* width: 181px; */
        height: 20px;
        text-align: left;
        font: normal normal normal bold 36px/39px Muli;
        letter-spacing: 0.5px;
        font-weight: 600;
        color: #212B36;
        opacity: 1;
    }
    
        .navel {
            width: 168px;
            height: 18px;
            text-align: right;
            font: normal normal normal 24px/31px Muli;
            letter-spacing: 0.5px;
            color: #1E202F;
            opacity: 1;
            font-weight: 800;
            padding: 1% 8% 4% 7%;
            margin-left: -35%;
            display: inline;
        }
        .chg{
            margin-left: 26em;
        }
        .bcfw1{
                display: none;
        }
        .bcfw11{
            display: none;
        }
        .bcfw12{
            display: none;
        }
        
    li:nth-child(4) a div>p {
        width: 108px;
        height: 18px;
        /* UI Properties */
        text-align: center;
        font: normal normal normal bold 14px/11px Muli;
        letter-spacing: 0px;
        color: #4099F1;
        opacity: 1;
        
       
    }
    
        li:nth-child(3) a {
            position: absolute;
            left: -24%;
            top: 86.9%;
        }
        li:nth-child(4) a div {
            width: 62%;
            /* height: 26px; */
            border: 1px solid #4099F1;
            opacity: 1;
            margin-left: -28%;
            margin-top: -3%;
            padding: 2% 23% 0% 2%;
            box-sizing: border-box;
        }
        .img2 {
            position: absolute;
            top: 178px;
            left: 683px;
            width: 636px;
            height: 542px;
            background: transparent url(assets/Illustration.svg) 0% 0% no-repeat padding-box;
            opacity: 2;
        }
    }
